<% if (title) { %>
<h1>
    <%= title %>
</h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error=> { %>
    <li>
        <%= error.msg %>
    </li>
    <% }) %>
</ul>
<% } %>

<div class="accountManagementContent">
    <h2>Welcome <%= accountData.account_firstname %></h2>
    <p>You're logged in.</p>

    <a href="/account/edit/">Update Account information</a>
    
    <% if (accountData.account_type === "Admin" || accountData.account_type === "Employee") { %>
    <h3>Inventory Management</h3>
    <a href="/inv/">Manage Inventory</a>
    <% } %>
</div>