<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <p id="registerMessage">
            <%- messages() %>
        </p>


        <form id="registerForm" action="/account/login" method="post">
            <p>*** ALL FIELDS ARE REQUIRED ***</p>
            <div>
                <label for="fName">First name: </label>
                <input type="text" id="fName" name="account_firstname" required>
            </div>
            <div>
                <label for="lName">Last name: </label>
                <input type="text" id="lName" name="account_lastname" required>
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="email" id="email" name="account_email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="account_password" required>
                <p>Password must include: </p>
                <ul id="passReq">
                    <li>At least 12 characters</li>
                    <li>At least 1 uppercase letter</li>
                    <li>At least 1 number</li>
                    <li>At least 1 special character</li>
                </ul>
                <button type="button" id="showPassBtn">Show Password</button>
            </div>
            <input class="register-button" type="submit" value="Register">
        </form>
