@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  /* border: dashed 1px gray; */
}

:root {
  --color1: rgb(32, 175, 219);
}

body {
  background-image: url("/images/site/small_check.jpg");
}

#wrapper {
  font-family: "Source Sans Pro", sans-serif;
  width: 90%;
  margin: 1rem auto;
  background-color: white;
  border: 5px solid var(--color1);
  border-radius: 10px;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

span.siteName a {
  font-size: 2.5rem;
  text-decoration: none;
  margin-left: 1rem;
}

span.siteName a:visited {
  color: black;
}

div#tools a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1rem;
  color: black;
}

nav {
  background-color: #222;
  margin: 1rem;
  padding: 5px 30px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

nav li {
  margin: 0.5rem;
  list-style: none;
}

nav li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
}

nav li a:hover {
  background-color: #fff;
  color: black;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.hero {
  position: relative;
  margin-bottom: 2rem;
}

.hero-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-img img {
  max-width: fit-content;
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--color1);
}

.hero-content p {
  font-size: 1.2rem;
}

.hero-content button {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: var(--color1);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
}

h3 {
  font-size: 1.4rem;
}

.upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.upgrade-img {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid black;
}

.upgrade-card a {
  display: flex;
  justify-content: center;
  color: black;
}

.upgrades h3 {
  grid-column: 1/-1;
}

.reviews ul {
  margin: 1rem 1rem 0 1rem;
}

.reviews li {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  margin: 1rem;
}

/* Inventory */
ul#inv-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul#inv-display li {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  height: 300px;
}

ul#inv-display li a {
  text-decoration: none;
}

ul#inv-display li a > img {
  max-width: 300px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin: 0 auto;
}

div.namePrice hr {
  margin: 0.5rem auto;
  height: 5px;
  background-color: black;
}
div.namePrice {
  text-align: center;
}

div.namePrice h2 {
  margin: 0.5rem;
}
div.namePrice span {
  font-size: 1.2rem;
}

#errorHead {
  text-align: center;
  margin: 1rem;
}
#errorMessage {
  text-align: center;
  margin: 1rem;
}

/* Details View */
#details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#details-image {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
#details-image img {
  max-width: fit-content;
  width: 100%;
  border-radius: 5px;
}

#details-info {
  margin: 1rem;
}

#details-info > p {
  margin: 0.5rem 0;
}

.descriptionBold {
  font-weight: 800;
  font-size: 1.2rem;
}

/* Login view */

.forms {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid black;
}

input[type="email"],
input[type="text"],
input[type="password"],
textarea,
input[type="number"],
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

input.login-button,
input.register-button,
.inventory-button,
.inventoryUpdate-button {
  max-width: 150px;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid black;
  background-color: var(--color1);
  color: black;
  font-weight: 800;
  align-self: end;
}

form.loginForm p {
  align-self: center;
  margin-top: 1rem;
}

.forms p:nth-child(1) {
  margin-bottom: 1rem;
}
ul#passReq li {
  margin: 0.25rem 0 0 1.5rem;
}

button#showPassBtn {
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid black;
}

/* Flash Message */
.notice {
  list-style: none;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  color: darkred;
}

/* form validation */
.invalid-input:focus {
  background-color: rgba(255, 0, 0, 0.3);
  border: 2px solid red;
}

.valid-input:focus {
  background-color: rgba(0, 125, 0, 0.3);
  border: 2px solid green;
}

/* Vehicle Management */
#vehicleManagementList > li {
  text-align: center;
  margin: 0.5rem;
  list-style: none;
}

/* Add classification */
#classificationFormDiv {
  margin: 1rem 0;
}

.accountManagementContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.accountManagementContent h2 {
  margin: 0 0 1rem 0;
}

.manageInv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.manageInv > * {
  margin-bottom: 0.5rem;
}

.manageInv select#classificationList {
  max-width: 300px;
  width: 100%;
}

table#inventoryDisplay {
  width: 100%;
  max-width: 350px;
}
table#inventoryDisplay th {
  text-align: left;
  font-weight: 900;
  font-size: 1.2rem;
  
  
}

@media only screen and (min-width: 600px) {
  h1 {
    margin-left: 1rem;
    text-align: left;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color1);
  }

  .hero-content button {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 2rem 1rem;
  }

  .reviews li {
    margin-bottom: 1.5rem;
  }

  footer {
    margin: 1rem 1rem 0.5rem;
    text-align: left;
  }

  /* Inventory */
  ul#inv-display {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* details view */
  #details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
  }

  #details-info > p {
    margin: 1rem 0;
    font-size: large;
  }

  /* login view */
  .forms {
    max-width: 500px;
    width: 100%;
    margin: 1rem auto;
  }

  /* Vehicle Management */
  #vehicleManagementList > li {
    margin: 0.5rem 0 0.5rem 2rem;
    text-align: left;
  }

  .manageInv {
    align-items: stretch;
    justify-content: flex-start;
  }
}
