<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Message 
(#) disables the code
(-) replaces with unescape mark when ready to use 
-->
        <%- messages() %>

<ul id="vehicleManagementList">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>